@import '../../../../assets/stylesheets/colors';

.expense-type-row {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  min-width: 290px;

  border: 1px solid $mystic;
  background: $mystic;
  border-radius: 5px;
  padding: 10px;
}

.icon {
  color: $bitterSweet2;
}

.action-buttons {
  text-align: right;
}

@media (min-width: 321px) {
  .action-buttons {
    text-align: left;
  }
}
