<ng-container *ngIf="expenseTypeExpenses$ | async as expenseTypeExpenses; else loading">
  <div class="action-buttons">
    <button *ngIf="!isDeleting && expenseTypeExpenses.expenseTypes.length" class="btn btn-red mr-10" type="button" (click)="isDeleting = true">Delete</button>
    <button *ngIf="!isDeleting" class="btn btn-green" type="button" (click)="openModal(data)">Create</button>
    <button *ngIf="isDeleting && expenseTypeExpenses.expenseTypes.length" class="btn btn-black" (click)="isDeleting = false">Done</button>
  </div>
  
  <br>
  
  <ng-container *ngFor="let expenseType of expenseTypeExpenses.expenseTypes">
    <div class="expense-type-row mb-10 clickable" (click)="openModal(expenseType)">
      <span>{{ expenseType.name }}</span>
      <!-- <span class="clickable" (click)="showExpenses($event, expenseType)"><fa-icon [icon]="['fas', 'list']"></fa-icon></span> -->
      <span *ngIf="isDeleting" class="icon" (click)="delete($event, expenseType)"><fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></span>
    </div>
  </ng-container>

  <ng-container>

  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="loading-text">
    Loading data...
  </div>
</ng-template>
