<section class="center-panel">
  <form class="form" [formGroup]="detailsForm" (ngSubmit)="onSubmit(detailsForm.value)" appFocusContainer>
    <div class="form-control-group">
      <div class="form-input-group">
        <input class="input" type="password" placeholder="New password" formControlName="password">
      </div>
    </div>

    <div class="form-control-group">
      <div class="form-input-group">
        <input class="input" type="password" placeholder="Confirm password" formControlName="_confirmPassword">
      </div>
    </div>

    <div class="ta-right">
      <button class="btn btn-transparent mr-5 font-gray" type="button" (click)="onCancel()">Cancel</button>
      <button class="btn btn-green"  type="submit">Save</button>
    </div>
  </form>
</section>
