.center-panel {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);

  & > form {
    max-width: 300px;
    margin: 0 auto;
  }
}
