@import '../../../../assets/stylesheets/colors';

$dayBase: 30px;
$base: 10px;

$blue: #1e824c;
$green-highlight: #a8ffd1;
$gray-highlight: #ecf0f1;


.calendar {
  display: block;
  // width: calc(($dayBase * 7) + 4px);
  margin: 0 auto;
  border: 2px solid $freeSpeechAquamarine;
  border-radius: 5px;
  background: $white;

  * {
    box-sizing: border-box;
  }

  .calendar-navs {
    background-color: $freeSpeechAquamarine;
  }

  .month-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .year-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      background: $gray-highlight;
      font-size: 12px;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: $base;
      min-width: $dayBase;
      max-width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .week-date {
      height: $dayBase;
      padding: $base + 5;
      position: relative;

      .date-text {
        z-index: 2;
        // font-size: 10px;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: $green-highlight;
          }
        }
      }
      &.selected {
        color: $white;
        &:after {
          background-color: $blue;
        }
        &:hover {
          &:after {
            background-color: $blue;
          }
        }
      }

      &.disabled {
        color: $edward;
      }
    }

    .today::after {
      content: "";
      display: block;
      position: absolute;
      background: $madang;
      border-radius: 50%;
      height: $dayBase * 0.9;
      width: $dayBase * 0.9;
    }
  }
} 

.year,
.month {
  padding: 0 5px;
}

.month-year-container {
  position: relative;
}

.months-container,
.years-container {
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  background: $white;
  border: 1px solid $iron;
  z-index: 3;
  color: $black;
  max-height: 200px;
  overflow: auto;
}

.name {
  padding: 5px 0;
}
