@import '../../assets/stylesheets/colors';

.danger {
  color: $thunderbird;
  text-align: center;
  padding: 30px;
}

p {
  margin: 10px auto;
  width: 80%;
  max-width: 500px;
}

section {
  height: 100%;
  background: $mystic;
}
