<section>
  <div class="danger">
    <fa-icon [icon]="['fas', 'exclamation-triangle']" size="10x"></fa-icon>
  </div>
  <p class="font-bold">
    Hmmm... This place is unknown in the history of the internet.
  </p>

  <p class="font-bold">
    Let's <a class="font-bold" routerLink="/app/dashboard">go back to your dashboard</a>, okay?
  </p>
</section>
