@import '../../../../assets/stylesheets/colors';

$dayBase: 70px;
$base: 10px;

.calendar {
  font-family: 'Roboto';
  min-width: $dayBase * 7;
  // width: ($dayBase * 1.4) * 7;
  width: $dayBase* 7;
  margin: 0 auto;
  border: 2px $emperor solid;
  border-radius: 5px;

  * {
    box-sizing: border-box;
  }

  .calendar-navs {
    background-color: $emperor;
  }

  .month-nav {
    padding: 8px $base $base;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & > button {
      color: $white;
    }
  }

  .year-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // font-family: 'Montserrat';
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      // background: $concrete;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      min-height: 40px;
      align-items: center;
      font-size: 13px;
      background: $mystic;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
      border-top: 1px solid $mystic;
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: $base;
      display: block;
      width: $dayBase;
      justify-content: center;
      align-items: center;
    }

    .week-date:nth-child(-n+6) {
      border-right: 1px solid $iron;
    }

    .week-date {
      height: $dayBase;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .date-text {
        width: 100%;
        z-index: 10;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        text-align: right;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        // transition: background-color 150ms linear, color 150ms linear;
        // z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        transition: background-color 150ms linear, color 150ms linear;
        &:hover {
          // &:after {
            background-color: $mystic;
          // }
        }
      }
      &.selected {
        background: $mystic;
      }

      &.disabled {
        color: $edward;
      }
    }

    .today > .date-text {
      position: relative;
      color: $white;
      
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #555;
        border-radius: 50%;
        top: -5px;
        right: -5px;
        height: 25px;
        width: 25px;
        z-index: -1;
      }
    }
  }
} 

.year,
.month {
  padding: 0 5px;
}

.month-year-container {
  position: relative;
}

.months-container,
.years-container {
  z-index: 99;
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  background: $white;
  border: 1px solid $iron;
  color: $black;
  max-height: 200px;
  overflow: auto;
}

.name {
  padding: 5px 0;
}

@media (max-width: 1300px) {
  .calendar {
    max-width: $dayBase * 7;
  }

  .week-date,
  .day-name {
    max-width: $dayBase;
  }
}
