<div class="calendar">
  <div class="calendar-navs">
    <div class="month-nav">
      <button class="btn-transparent font-xxl" (click)="prevMonth($event)"><fa-icon [icon]="['fas', 'caret-left']"></fa-icon></button>
      <div class="month-year-container font-white p4">
        <span (click)="toggleList($event, listActive, 'month')" class="font-xxl font-white month clickable">{{ currentMonth }}</span>
        <span (click)="toggleList($event, listActive, 'year')" class="font-xxl font-white year clickable">{{ currentYear }}</span>
        <div class="months-container" *ngIf="listActive.month">
          <app-list [listDataTemplate]="monthTemplate" [listData]="months" (dataClick)="updateMonth($event)"></app-list>
        </div>
        <div class="years-container" *ngIf="listActive.year">
          <app-list [listDataTemplate]="monthTemplate" [listData]="years" (dataClick)="updateYear($event)"></app-list>
        </div>
      </div>
      <button class="btn-transparent font-xxl" (click)="nextMonth($event)"><fa-icon [icon]="['fas', 'caret-right']"></fa-icon></button>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div *ngFor="let name of dayNames" class="day-name p9">
        {{ name }}
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks" class="week">
        <ng-container *ngFor="let day of week">
          <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
            <div class="date-text">{{ day.mDate.date() }}</div>
            <ng-container *ngTemplateOutlet="dayViewTemplate; context: {$implicit: day}">
            </ng-container>
          </div>

          <div class="week-date enabled"
              *ngIf="isSelectedMonth(day.mDate)"
              (click)="selectDate(day)"
              [ngClass]="{ today: day.today, selected: day.selected }">
              <div class="date-text">{{ day.mDate.date() }}</div>
              <ng-container *ngTemplateOutlet="dayViewTemplate; context: {$implicit: day}">
              </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #monthTemplate let-data>
  <div class="name">{{ data }}</div>
</ng-template>
