@import '../../../../assets/stylesheets/colors';

.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  z-index: 99;
}

.modal-container {
  max-width: 400px;
  width: 100%;
  background: white;
  text-align: center;
  box-shadow: 0px 2px 10px 1px #333;
  max-height: 90%;
  // min-height: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: $iron;
}

.modal-body {
  flex: 1;
  padding: 20px;
  overflow: auto;
}
