<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-title">
      <span>{{ modalTitle }}</span>
      <span (click)="close()" class="clickable"><fa-icon [icon]="['fas', 'times']"></fa-icon></span>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
