<ng-container *ngIf="budgets$ | async as budgets; else loading">
  <div class="action-buttons">
    <button *ngIf="!isDeleting && hasData" class="btn btn-red mr-10" type="button" (click)="isDeleting = true">Delete</button>  
    <button *ngIf="!isDeleting" class="btn btn-green" type="button" (click)="openModal(data)">Create</button>
    <button *ngIf="isDeleting && hasData" class="btn btn-black" (click)="isDeleting = false">Done</button>  
  </div>
  
  <br>
  
  <div class="budgets-container">
    <ng-container *ngFor="let budget of budgets">
      <div (click)="openModal(budget)" class="budget-card mb-20 mr-15 clickable">
        <div class="budget-card-title">
          <span>{{ budget.year }}</span>
          <span *ngIf="isDeleting" (click)="delete($event, budget)" class="icon"><fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></span>
        </div>
        <div class="budget-card-body">
          <div class="mb-10">
            <span>Name:</span>
            <span>{{ budget.name  }}</span>
          </div>
          <div>
            <span class="font-bold">Amount:</span>
            <span class="font-bold">{{ budget.amount | currency: 'Php ':'symbol':'1.2-2' }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-text">
    Loading data...
  </div>
</ng-template>
