@import '../../../../assets/stylesheets/colors';

.budget-card {
  border: 1px solid $emperor;
  border-radius: 5px;
  max-width: 300px;
  min-width: 290px;
}

.budget-card-title {
  background: $emperor;
  color: $white;
  display: flex;
  justify-content: space-between;
}

.budget-card-title,
.budget-card-body {
  padding: 10px;
}

.budget-card-body > div {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: $bitterSweet2;
}

.action-buttons {
  text-align: right;
}

.budgets-container {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 321px) {
  .action-buttons {
    text-align: left;
  }
}
