<section class="center-panel login-panel" appOnSubmitContainer>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" appFocusContainer>
    <div class="form-control-group">
      <div class="form-input-group">
        <input   class="input" type="text" placeholder="Username" formControlName="username">
      </div>
    </div>
    
    <div class="form-control-group">
      <div class="form-input-group">
        <input class="input" type="password" placeholder="Password" formControlName="password">
      </div>
    </div>
    
    <div class="ta-right">
      <button class="btn btn-transparent mr-5 font-gray" type="button" (click)="goHome()">Cancel</button>
      <button class="btn btn-green" type="submit">Login</button>
    </div>

    <p class="ta-right font-s">
      Don't have an account? <a routerLink="/register">Register Now!</a>
    </p>
  </form>
</section>
