@import '../../../../assets/stylesheets/colors';

.center-panel {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-panel {
  max-width: 400px;
  min-height: 500px;
  display: flex;
  align-items: center;

  & > .form {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .login-panel {
    border: 1px solid $iron;
    background: $mystic;
    border-radius: 5px;
  }
}
