<nav role="navigation">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/register">Register</a>
    </li>
  </ul>
</nav>

<article style="padding: 15px">
  <h2>Welcome to TREX!</h2>
  <h4 class="subtitle">(TRack your EXpenses)</h4>

  <p>
    A wise man (I think it's Benjamin Franklin) once said:
  </p>
  
  <p class="quote">
    &quot; Beware of little expenses. A small leak will sink a great ship. &quot;
  </p>

  <p>
    You sometimes wonder, "Where did my money go?" 
    It's as if someone stole it from you. 
    You know who the culprit is? Just look at the mirror and see for yourself.
  </p>

  <p>
    That's why you are here - TO BE AWARE. This very moment... to monitor your expenses. Ready?
  </p>
  
  <h4 class="instruction-header">How this works?</h4>

  <ul class="instruction-body">
    <li>The Registration and Login are as simple as A-B-C. Very self-explanatory. Next!</li>
    <li>Upon logging in, you will be redirected to the Dashboard page.</li>
    <li>At the Dashboard, the summary of your expenses will be shown. Two panels will greet you.</li>
    <li>The left panel (top panel if you are on a mobile device) is your budget/expense summary for the YEAR.</li>
    <li>The right panel (bottom panel if you are on a mobile device) is your budget/expense summary for the MONTH.</li>
    <li>Take note of the header and border color of each panel.</li>
    <li>
      <span class="notice notice-green">GREEN</span> for healthy budget (always aim for 
      <span class="notice notice-green">GREEN</span>!), 
      <span class="notice notice-orange">ORANGE</span> for budget that is near its limit, 
      <span class="notice notice-red">RED</span> for overspending (you don't want to see this),
      and <span class="notice notice-black">BLACK</span> means that there is no expense amount limit set for that YEAR/MONTH.
    </li>
    <li>
      You will notice that when you started adding expenses and expense types, one entry in the Dashboard panel will get 
      <span class="green-highlight">highlighted as GREEN</span>, and <span class="red-highlight">one for RED</span>.
    </li>
    <li>
      <span class="green-highlight">GREEN means that is your lowest expense</span>, while 
      <span class="red-highlight">RED means the highest</span>. If you have only one expense for that month/year, nothing will be highlighted.
    </li>
    <li>
      Finally... you know what? Just try the rest of the app and appreciate the art of discovery. 
    </li>
  </ul>

  <p>
    There you have it. If you don't have an account yet, smash that <span class="notice notice-jade">Register</span> button! Have an account already? 
    Well, do you want to experience the end of the world before you smack that <span class="notice notice-jade">Login</span> button? Do it NOW!
  </p>

  <p class="footer-note">
    If you have any feature request or want to submit an issue regarding this app, feel free to email me at <span class="font-bold email">mpbatungbakal@gmail.com</span>.
  </p>

  <p>Lastly, if you want to <span class="green-highlight">work with me</span>, I am just one email away. Don't be shy. 
    <span class="green-highlight">Let's team up</span> and transform ideas into reality.</p>
  <p>Have a nice day!</p>
</article>
