@import '../../../../assets/stylesheets/colors';

.nav {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  background: $jade;
}

.nav-item {
  color: $white;
  display: inline-block;

  & > a {
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:active, &:focus {
      background: #239954;
    }
  }
}

article {
  max-width: 550px;
  margin: 0 auto;
}

h2 {
  margin: 0;
}

h4.subtitle {
  margin-top: 10px;
}

h2, h4 {
  text-align: center;
}

p {
  line-height: 1.3;
}

.quote {
  font-style: italic;
  color: $emperor;
  text-align: center;
}

.quote,
.footer-note {
  padding: 10px;
  background: $mystic;
  border-radius: 5px;
}

ul {
  padding-left: 20px;
}

.instruction-header {
  padding: 10px 0;
  background: $mystic;
}

.instruction-body li {
  margin-bottom: 10px;
  line-height: 1.3;
}

.notice-green {
  background: $lightGreen;
}

.notice-orange {
  background: $orange1;
}

.notice-black {
  background: $emperor;
  color: $white;
}

.notice-jade {
  background: $jade;
  color: $white;
}

.notice-red {
  background: $bitterSweet2;
}

.notice {
  padding: 1px 10px;
  border-radius: 3px;
}

.green-highlight {
  border-left: 5px solid $malachite;
  padding-left: 5px;
  background: $snowyMint;
}

.red-highlight {
  border-left: 5px solid $bitterSweet;
  padding-left: 5px;
  background: $pippin;
}

.email {
  text-decoration: underline;
}
