@import '../../../../assets/stylesheets/colors';

.container {
  --mainContainerColor: #{$emperor};
  --headingDetailsBackground: #{$mystic};
  --fontColor: #{$white};

  border: 2px solid var(--mainContainerColor);
  border-radius: 5px;
  color: $black;
}

.container.healthy {
  --mainContainerColor: #{$lightGreen};
  --headingDetailsBackground: #{$madang};
  --fontColor: #{$black};
}

.container.danger {
  --mainContainerColor: #{$orange1};
  --headingDetailsBackground: #{$orange2};
  --fontColor: #{$black};
}

.container.overspending {
  --mainContainerColor: #{$bitterSweet2};
  --headingDetailsBackground: #{$yourPink};
  --fontColor: #{$black};
}

.heading {
  background: var(--mainContainerColor);
  overflow: hidden;
  text-align: center;
}

.body > div,
.heading-details > div
{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

.heading-details {
  padding: 10px;
  background: var(--headingDetailsBackground);
}

.body {
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5px 0;

  & > * {
    color: var(--fontColor);
  }
}

.title {
  padding: 5px 0;
}

.max {
  border-left: 5px solid $bitterSweet;
  padding-left: 5px;
  background: $pippin;
}

.min {
  border-left: 5px solid $malachite;
  padding-left: 5px;
  background: $snowyMint;
}
