<ng-container *ngIf="budgetExpenses$ | async as budgetExpenses; else loading">
  <div class="container">
    <div class="dashboard-component">
      <app-budget-summary [selectedYear]="selectedYear" 
                          [budget]="selectedBudget" 
                          [expenses]="budgetExpenses.expenses"
                          [expenseTypes]="budgetExpenses.expenseTypes"
                          (prevYearClick)="prevYear()"
                          (nextYearClick)="nextYear()">
      </app-budget-summary>
    </div>

    <div class="dashboard-component">
      <app-monthly-breakdown [budgetBreakdown]="selectedBudgetBreakdown"
                              [selectedMonth]="selectedMonth"
                              [expenses]="selectedExpenses"
                              [expenseTypes]="budgetExpenses.expenseTypes"
                              (nextMonthClick)="nextMonth(budgetExpenses.expenses)"
                              (prevMonthClick)="prevMonth(budgetExpenses.expenses)">
      </app-monthly-breakdown>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-text">
    Loading data...
  </div>
</ng-template>
