.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-component {
  max-width: 350px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 740px) {
  .dashboard-component:nth-child(odd) {
    margin-right: 20px;
  }
}
