<span class="title-container">
  <div class="title">
    <div class="font-medium font-xl">Hello, {{ loggedUser.firstName }}!</div>
    <div class="quote">"Never spend your money before you have it" -Thomas Jefferson</div>
  </div>
</span>

<nav role="navigation">
  <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: menuConfig }"></ng-container>
</nav>

<ng-template #menuTemplate let-menuConfig>
  <ul [class.submenu]="menuConfig.isSubmenu" [class.navbar]="!menuConfig.isSubmenu">
    <li *ngFor="let menuItem of menuConfig.menu">
      <a *ngIf="!menuItem.isSubmenu" [routerLink]="menuItem.routerLink" [class.active]="menuItem.active" (click)="setActiveMenu(menuItem, menuItem.clickFn)">
        <span *ngIf="menuItem.icon" class="icon-container"><fa-icon [icon]="menuItem.icon" size="2x"></fa-icon></span>
        <span class="menu-label font-medium font-xl">{{ menuItem.label }}</span>
      </a>
      <a *ngIf="menuItem.isSubmenu" [class.active]="menuItem.active" (click)="toggleMenu(menuItem)">
        <span *ngIf="menuItem.icon" class="icon-container"><fa-icon [icon]="menuItem.icon" size="2x"></fa-icon></span>
        <span class="menu-label font-medium font-xl">{{ menuItem.label }}</span>
      </a>
      <ng-template [ngIf]="menuItem.isSubmenu">
        <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: menuItem }"></ng-container>
      </ng-template>
    </li>
  </ul>
</ng-template>

<section>
  <div [hidden]="!isLoading" class="route-component-container loading-text">
    Loading component...
  </div>
  <div [hidden]="isLoading" class="route-component-container">
    <router-outlet></router-outlet>
  </div>
</section>

<div id="modal-container"></div>
