@import '../../../../assets/stylesheets/colors';

$navbarPadding: 10px;

section {
  height: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title-container {
  background: $jade;
  color: $white;
}

.navbar, .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  background: $mystic;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 15px;
}

.quote {
  display: none;
}

.navbar {
  display: flex;
  padding: $navbarPadding 0;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

.navbar > li {
  display: inline-block;
  text-align: center;

  & > a {
    font-size: 0.8em;

    &.active {
      color: $jade;
    }
  }
}

.navbar a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.navbar > li {
  flex: 1;

  &:last-child {
    margin-left: auto;
  }
}

.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease;
  right: 0;
  display: none;
  width: 100%;
  margin-top: $navbarPadding;
  background: $jade;
  padding: 10px 0;
  box-shadow: 0px 6px 7px 2px rgba(0,0,0,0.45);
  z-index: 99;

  & > li a {
    display: block;
    color: $white;
    padding: 10px 0;
    text-decoration: none;

    &:active {
      background: $salem;  
    }

    & > span {
      font-family: 'LatoWebLight', 'arial', 'sans-serif';
      font-size: 1em;
    }
  }
}

.active + .submenu {
  opacity: 1;
  visibility: visible;
  display: block;
  // transition: all 0.2s ease;
}

.icon-container + .menu-label {
  display: none;
}

.route-component-container {
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.route-component-container,
.component-loading {
  padding: 20px 15px 15px 15px;
}

@media (min-width: 630px) {
  .navbar {
    padding: 10px 15px;
  }

  .icon-container + .menu-label {
    display: inline-block;
  }

  .quote {
    font-style: italic;
    display: block;
  }
  
  .icon-container {
    display: none;
  }

  .navbar > li {
    flex: none;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

@media (min-width: 1300px) {
  .title,
  .navbar,
  .route-component-container {
    max-width: 1280px;
  }
}
