<!--The content below is only a placeholder and can be replaced.-->
<main>
  <ng-progress [id]="'route'"></ng-progress>
  <ng-progress [id]="'http'"></ng-progress>
  <router-outlet></router-outlet>
</main>
