<section>
  <form class="form" [formGroup]="detailsForm" (ngSubmit)="saveData(detailsForm.value)" appFocusContainer>
    <div class="form-control-group">
      <div class="form-input-group">
        <label>Name</label>
        <input class="input" type="text" formControlName="name">
      </div>
    </div>

    <div class="form-control-group">
      <fieldset class="form-input-group">
        <legend class="ta-left">Expense Category</legend>
        <div class="radio-button-container">
          <label class="clickable"><input type="radio" [value]="false" formControlName="isVariable"> Fixed</label>
          <label class="clickable"><input type="radio" [value]="true" formControlName="isVariable"> Variable</label>
        </div>
      </fieldset>
    </div>

    <div class="ta-right">
      <button class="btn btn-transparent mr-5 font-gray" type="button" (click)="closeModal()">Cancel</button>
      <button class="btn btn-green" type="submit">Save</button>
    </div>
  </form>
</section>
