<section>
  <form class="form" [formGroup]="detailsForm" (ngSubmit)="saveData(detailsForm.value)" appFocusContainer>
    <div class="form-control-group">
      <div class="form-input-group">
        <label>Name</label>
        <input class="input" type="text" formControlName="name" cdkFocusInitial>
      </div>
    </div>

    <div class="form-control-group">
      <div class="form-input-group mr-10">
        <label>Date</label>
        <app-form-datepicker formControlName="date"></app-form-datepicker>
      </div>

      <div class="form-input-group">
        <label>Amount</label>
        <input class="input" type="text" formControlName="amount" appNumber>
      </div>
    </div>

    <div class="form-control-group">
      <fieldset class="form-input-group" controlErrorContainer controlGroup>
        <legend class="ta-left">Select Expense Type</legend>

        <ng-container *ngIf="userExpenseTypes$ | async as userExpenseTypes; else loading">
          <div class="radio-button-container">
            <div class="mr-10">
              <ng-container *ngFor="let userExpenseType of userExpenseTypes; let i=index">
                <label *ngIf="i < columnBreakpoint" class="clickable">
                  <input type="radio" [value]="userExpenseType.id" formControlName="expenseType"> {{ userExpenseType.name }}
                </label>
              </ng-container>
            </div>
    
            <div>
              <ng-container *ngFor="let userExpenseType of userExpenseTypes; let i=index">
                <label *ngIf="i >= columnBreakpoint" class="clickable">
                  <input type="radio" [value]="userExpenseType.id" formControlName="expenseType"> {{ userExpenseType.name }}
                </label>
              </ng-container>
            </div>
          </div>
  
          <div class="warning" *ngIf="!userExpenseTypes.length">
            <a class="btn-link" (click)="redirectToExpenseTypes()">Create</a> an expense type first.
          </div>
        </ng-container>
        
      </fieldset>
    </div>

    <div class="ta-right">
      <button class="btn btn-transparent mr-5 font-gray" type="button" (click)="closeModal()">Cancel</button>
      <button class="btn btn-green" type="submit">Save</button>
    </div>
  </form>
</section>

<ng-template #loading>
  <div class="loading-text">
    Loading data...
  </div>
</ng-template>
