@import '../../../../assets/stylesheets/colors';

.radio-button-container {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
  }

  & label {
    padding: 5px 0;
  }
}

.warning {
  color: $thunderbird;
}
