<div class="datepicker-container">
  <input class="input" 
          type="text" 
          placeholder="MM/DD/YYYY" 
          (click)="toggleCalendar()"
          (input)="parseInput($event)"
          [value]="innerValue">
  <div class="datepicker" *ngIf="calendarActive">
    <app-datepicker [selectedDate]="selectedDate" (dateSelected)="onSelectDate($event)"></app-datepicker>
  </div>
</div>
