<div class="registration-container" appOnSubmitContainer>
  <app-user-details (save)="register($event)" (cancel)="cancel()"></app-user-details>
  
  <p class="center ta-right font-s">
    Already have an account? <a routerLink="/login">Login.</a>
  </p>
</div>
