<section>
  <form class="form" [formGroup]="detailsForm" (ngSubmit)="saveData(detailsForm.value)" appFocusContainer>
    <!-- <h4>Details</h4> -->

    <div class="form-control-group">
      <div class="form-input-group">
        <label>Name</label>
        <input class="input" type="text" formControlName="name">
      </div>
    </div>

    <div class="form-control-group">
      <div class="form-input-group mr-10">
        <label>Year</label>
        <input class="input" type="text" formControlName="year" appNumber>
      </div>

      <div class="form-input-group">
        <label>Amount</label>
        <input class="input" type="text" formControlName="amount" appNumber>
      </div>
    </div>

    <button type="button" class="set-amount btn-transparent font-s" (click)="setAmountToBreakdownTotal()">Set amount to breakdown total</button>

    <h4>Budget Breakdown</h4>
    
    <div class="budget-breakdown" formArrayName="budgetBreakdown">
      <div class="mr-10">
        <ng-container *ngFor="let control of budgetBreakdown.controls; index as i">
          <div class="form-control-group" [formGroupName]="i" *ngIf="i < budgetBreakdown.controls.length / 2">
            <div class="form-input-group">
              <label>{{ months[i + 1] }}</label>
              <input class="input" type="text" formControlName="amount" appNumber>
            </div>
          </div>
        </ng-container>
      </div>

      <div>
        <ng-container *ngFor="let control of budgetBreakdown.controls; index as i">
          <div class="form-control-group" [formGroupName]="i" *ngIf="i >= budgetBreakdown.controls.length / 2">
            <div class="form-input-group">
              <label>{{ months[i + 1] }}</label>
              <input class="input" type="text" formControlName="amount" appNumber>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <p *ngIf="budgetWarning" class="over-total-warning font-s">
      <span class="font-bold">WARNING:</span> Breakdown total is greater than the chosen amount. 
      You may continue to save this or you can click the "Set amount to breakdown total" to fix the inconsistency.
    </p>

    <div class="ta-right">
      <button class="btn btn-transparent mr-5 font-gray" type="button" (click)="closeModal()">Cancel</button>
      <button class="btn btn-green" type="submit">Save</button>
    </div>
  </form>
</section>
