@import '../../../../assets/stylesheets/colors';

.budget-breakdown {
  display: flex;
  justify-content: space-between;
  & > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.over-total-warning {
  text-align: justify;
  background: $mystic;
  padding: 10px;
  color: $emperor;
  border-radius: 5px;
  line-height: 1.3;

  & > span {
    color: $orange1;
  }
}

.set-amount {
  color: $jade;
  text-align: right;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}
