<section>
  <div class="container {{budgetStatus}}">
    <div class="heading">
      <div class="nav font-xxl">
        <button class="btn-transparent" type="button" (click)="prevMonth()"><fa-icon [icon]="['fas', 'caret-left']"></fa-icon></button>
        <span class="font-bold">{{ months[selectedMonth] }}</span>
        <button class="btn-transparent" type="button" (click)="nextMonth()"><fa-icon [icon]="['fas', 'caret-right']"></fa-icon></button>
      </div>
      <div class="heading-details">
        <ng-container *ngIf="budgetBreakdown">
          <div>
            <label>Amount</label>
            <span>{{ budgetBreakdown.amount | currency: 'Php ':'symbol':'1.2-2' }}</span>
          </div>
        </ng-container>
        
        <div>
          <label>Expenses</label>
          <span>{{ totalExpensesAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
        </div>
        <div>
          <label>Remaining</label>
          <span>{{ remainingAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="{{ expenseType.tag }}" *ngFor="let expenseType of configuredExpenseTypes">
        <span>{{ expenseType.name }}</span>
        <span>{{ expenseType.totalExpensesAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
      </div>
    </div>
  </div>
</section>
