@import '../../../../assets/stylesheets/colors';

.sidebar-container {
  height: 100%;
  border: 2px solid $emperor;
  border-radius: 5px;
  color: $black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.expense-list {
  flex: 1;
  overflow: auto;
}

.expenses-total {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: $bitterSweet;
}

.date-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px 0;
  background: $emperor;
  position: relative;

  & > button {
    color: $white;
  }

  & > .clickable-text {
    cursor: pointer;
  }
}

.header-actions {
  text-align: right;
  background: $mystic;

  & > .btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.no-expenses {
  text-align: center;
  padding: 100px 0;
}

.datepicker {
  position: absolute;
  top: 100%;
}

.plain-text {
  display: none;
}

@media (min-width: 870px) {
  .date-nav > button,
  .datepicker,
  .clickable-text {
    display: none;
  }

  .plain-text {
    display: inline;
  }
}
