<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="date-nav">
      <button class="font-xxl btn-transparent" type="button" (click)="prev()"><fa-icon [icon]="['fas', 'caret-left']"></fa-icon></button>
      <span (click)="toggleCalendar()" class="font-xxl font-white clickable-text">{{ date | date: 'mediumDate' }}</span>
      <span class="font-xxl font-white plain-text">{{ date | date: 'mediumDate' }}</span>
      <button class="font-xxl btn-transparent" type="button" (click)="next()"><fa-icon [icon]="['fas', 'caret-right']"></fa-icon></button>

      <div class="datepicker" *ngIf="calendarActive">
        <app-datepicker [selectedDate]="date" (dateSelected)="dateChange.emit($event)"></app-datepicker>
      </div>
    </div>
    
    <div class="header-actions">
      <button *ngIf="!actionCancellable && sidebarData" class="btn btn-transparent" type="button" (click)="triggerDelete()"><fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></button>
      <button *ngIf="!actionCancellable" class="btn btn-transparent" type="button" (click)="expenseClick.emit({ date: date })"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
      <button *ngIf="actionCancellable" class="btn btn-transparent" type="button" (click)="triggerCancel()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
    </div>
  </div>
  
  <div class="sidebar-body">
    <div *ngIf="!sidebarData" class="no-expenses font-xxl font-bold">NO EXPENSES</div>
    <div class="expense-list">
      <app-list [listDataTemplate]="listDataTemplate" [listData]="sidebarData" (dataClick)="expenseClick.emit($event.data)"></app-list>
    </div>
    <div *ngIf="sidebarData" class="expenses-total">
      <span class="font-bold font-l">TOTAL</span>
      <span class="font-bold font-l">{{ totalExpenses | currency: 'Php ':'symbol':'1.2-2' }}</span>
    </div>
  </div>
</div>
