.center-panel {
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 300px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // -webkit-transform: translate(-50%, -60%);
  // transform: translate(-50%, -60%);
}
