<section class="center-panel">
  <form class="form" [formGroup]="detailsForm" (ngSubmit)=saveEmit(detailsForm.value) appFocusContainer>
    <div class="form-control-group">
      <div class="form-input-group">
        <input class="input" type="text" placeholder="First name" formControlName="firstName">
      </div>
    </div>

    <div class="form-control-group">
      <div class="form-input-group">
        <input class="input" type="text" placeholder="Last name" formControlName="lastName">
      </div>
    </div>

    <div class="form-control-group">
      <div class="form-input-group">
        <input class="input" type="email" placeholder="E-mail" formControlName="email">
      </div>
    </div>

    <ng-template [ngIf]="accountFieldsShown">
      <hr>

      <div class="form-control-group">
        <div class="form-input-group">
          <input class="input" type="text" placeholder="Username" formControlName="username">
        </div>
      </div>

      <div class="form-control-group">
        <div class="form-input-group">
          <input class="input" type="password" placeholder="Password" formControlName="password">
        </div>
      </div>

      <div class="form-control-group">
        <div class="form-input-group">
          <input class="input" type="password" placeholder="Confirm password" formControlName="_confirmPassword">
        </div>
      </div>
    </ng-template>

    <div class="ta-right">
      <button class="btn btn-transparent mr-5 font-gray" type="button" (click)="onCancel()">Cancel</button>
      <button class="btn btn-green" type="submit">{{ saveButtonLabel }}</button>
    </div>
  </form>
</section>
