<section>
  <div class="container {{ budgetStatus }}">
    <div class="heading">
      <div class="nav font-xxl">
        <button class="btn-transparent" type="button" (click)="prevYear()"><fa-icon [icon]="['fas', 'caret-left']"></fa-icon></button>
        <span class="font-bold">{{ selectedYear }}</span>
        <button class="btn-transparent" type="button" (click)="nextYear()"><fa-icon [icon]="['fas', 'caret-right']"></fa-icon></button>
      </div>

      <ng-container *ngIf="budget">
        <div class="title">
          <span class="font-regular">{{ budgetName }}</span>
        </div>
        <div class="heading-details">
          <div>
            <label>Amount</label>
            <span>{{ totalBudgetAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
          </div>
        
          <div>
            <label>Expenses</label>
            <span>{{ totalExpensesAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
          </div>
        
          <div>
            <label>Remaining</label>
            <span>{{ remainingBudgetAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
          </div>
        </div>
      </ng-container>
    </div>
      
    <div class="body">
      <ng-container *ngIf="budget">
        <div class="{{ expenseType.tag }}" *ngFor="let expenseType of configuredExpenseTypes">
          <span>{{ expenseType.name }}</span>
          <span>{{ expenseType.totalExpensesAmount | currency: 'Php ':'symbol':'1.2-2' }}</span>
        </div>
      </ng-container>

      <div *ngIf="!budget">
        <p>
          <a routerLink="/app/budgets">Create</a> your {{ selectedYear }} budget now!
        </p>
      </div>
    </div>
  </div>
</section>
