@import '../../../../assets/stylesheets/colors';

.expenses-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 610px;
}

.expense-amount {
  width: 100%;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 12px;
}

.calendar-view {
  display: none;
  // display: block;
}

.list-view {
  height: 100%;
  width: 100%;
  max-width: 300px;
  min-width: 290px;
}

.list-item-container {
  display: flex;
  border-bottom: 1px dashed $iron;
  padding: 10px;
}

.list-item-details {
  flex: 2;
  margin-right: 10px;
  max-width: 50%
}

.list-item-name {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.amount-container {
  flex: 1;
}

.icon {
  text-align: right;
  margin-bottom: 10px;
  color: $bitterSweet2;

  & > span {
    padding-left: 10px;
  }
}

@media (min-width: 870px) {
  .calendar-view {
    display: block;
    margin-right: 25px;
  }
}
