<div class="expenses-container" *ngIf="expenses$ | async as expenses; else loading">
  <div class="calendar-view">
    <app-calendar [dayViewTemplate]="dayViewTemplate" (onSelectDate)="setListData(expenses.byDate, $event)" (yearChange)="updateCalendar($event)"></app-calendar>
  </div>

  <div class="list-view">
    <app-expense-sidebar [listDataTemplate]="listDataTemplate" 
                          [sidebarData]="selectedExpensesForDay" 
                          [date]="selectedDate"
                          (dateChange)="onDateChange($event, expenses.byDate)"
                          (expenseClick)="openModal($event)"
                          (delete)="isDeleting = true"
                          (cancel)="isDeleting = false"
                          (nextClick)="nextDate(expenses.byDate)"
                          (prevClick)="prevDate(expenses.byDate)">
    </app-expense-sidebar>
    <!-- <app-list [listDataTemplate]="listDataTemplate" [listData]="selectedExpensesForDay" (dataClick)="openModal($event)"></app-list> -->
  </div>
  
  <ng-template #dayViewTemplate let-day>
    <div class="expense-amount">{{ expenses.sumByDate[day.mDate.format('YYYY-MM-DD')] | currency: 'Php ':'symbol':'1.2-2' }}</div>
  </ng-template>

  <ng-template #listDataTemplate let-data>
    <div class="list-item-container">
      <div class="list-item-details">
        <div class="list-item-name font-l">{{ data.name }}</div>
        <div>{{ data.expenseType ? data.expenseType.name : 'N/A' }}</div>
      </div>
      <div class="amount-container">
        <div *ngIf="isDeleting" class="icon"><span class="font-s" (click)="deleteExpense($event, data)"><fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></span></div>
        <div class="list-item-amount ta-right font-bold font-l">{{ data.amount | currency: 'Php ':'symbol':'1.2-2' }}</div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="loading-text">
    Loading data...
  </div>
</ng-template>
