<ng-container *ngFor="let data of listData; let i=index">
  <!-- <div (click)="dataClick.emit({data: data, index: i })"> -->
  <div class="clickable" (click)="dataClicked($event, data, i)">
    <ng-container *ngTemplateOutlet="listDataTemplate; context: {$implicit: data}"></ng-container>
  </div>
</ng-container>
