.btn {
  min-height: 30px;
  padding: 0 15px;
  border-radius: 3px;
}

.btn-green {
  background: $jade;
  border: 1px solid $jade;
  color: $white;
}

.btn-black {
  background: $emperor;
  border: 1px solid $emperor;
  color: $white;
}

.btn-red {
  background: $pomegranate;
  border: 1px solid $pomegranate;
  color: $white;
}

.btn-transparent {
  background: transparent;
  border:0;
}
