$white: #FFF;
$black: #333;

$jade: #00b16a;
$salem: #1e824c;
$lightGreen: #7befb2;
$freeSpeechAquamarine: #03a678;
$madang: #c8f7c5;
$malachite: #0bbf0b;
$snowyMint: #d5ffd5;

$iron: #dadfe1;
$solitude: #e4e9ed;
$mystic: #e8ecf1;
$edward: #abb7b7;
$emperor: #555;

$crimson: #f22613;
$bitterSweet: #ff7575;
$pippin: #ffe7e7;
$bitterSweet2: #ff5f5f;
$yourPink: #ffcccc;
$pomegranate: #f03434;
$thunderbird: #d91e18;

$orange1: #efc87b;
$orange2: #f7e6c5;
