/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('assets/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('assets/fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('assets/fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
