@import './colors';

.form.submitted input.ng-invalid, 
input.ng-dirty.ng-invalid,
.form-input-group .ng-invalid.ng-dirty input {
  border: 1px solid $thunderbird;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $black;
}

.disabled-container input,
.disabled-container .form-control-group label,
.disabled-container .form-control-group legend {
  color: $edward;
}

.disabled-container {
  pointer-events: none;
}

.disabled-container button {
  opacity: 0.5;
  pointer-events: none;
}

.form-control-group {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  align-items: baseline;
}

.form-input-group {
  display: flex;
  align-items: baseline;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;

  & > label {
    margin-bottom: 10px;
    // flex-basis: 100%;
    text-align: left;
  }
}

.input {
  border-radius: 5px;
  border: 1px solid $iron;
  padding: 7px 10px;
  flex: 1;
  width: 100%;
}

fieldset {
  border: 1px solid $iron;
}

fieldset.invalid {
  border: 1px solid $thunderbird;

  & > legend {
    color: $thunderbird;
  }
}

// .form-input {
//   flex: auto;

//   border: 1px solid $iron;
//   border-radius: 5px;
//   padding: 7px 10px;

//   & > input {
//     width: 100%;
//     outline: 0;
//     border: 0;
//     padding: 0;
//   }
// }

.form-control-label {
  margin-right: 5px;
  flex: 0 0 30%;
  text-align: right;
}

hr {
  border: none;
  height: 1px;
  background: $solitude;
  margin: 5px 0 20px 0;
}

legend {
  padding: 0 5px;
}

.form h4 {
  margin: 0 0 15px 0;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid $iron;
}

input:focus {
  outline: 0;
  border: 1px solid $jade;
}
