* {
  font-family: 'LatoWebLight';
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

.ng-bar {
  background: $lightGreen !important;
}

main {
  overflow: auto;
}

button {
  outline: 0;
}

a.btn-link {
  text-decoration: underline;
}

button,
a.btn-link,
.clickable {
  cursor: pointer;
}

.loading-text {
  opacity: 0;
  animation: appear;
  animation-duration: 50ms;
  animation-delay: 100ms;
  animation-timing-function: linear, ease-in;
  animation-fill-mode: both;
}

@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}
