.font-xs {
  font-size: $font-xs;
}

.font-s {
  font-size: $font-s;
}

.font-l {
  font-size: $font-l;
}

.font-xl {
  font-size: $font-xl;
}

.font-xxl {
  font-size: $font-xxl;
}

.font-gray {
  color: $edward;
}

.font-white {
  color: $white;
}

.font-bold {
  font-family: 'LatoWebSemibold', 'arial', 'sans-serif';
}

.font-medium {
  font-family: 'LatoWebMedium', 'arial', 'sans-serif';
}

.font-regular {
  font-family: 'LatoWeb', 'arial', 'sans-serif';
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}
